$color: #20b2aa;

body {
  margin: 0;
  font-size: 16px;
  padding: 1rem;
  font-family: Montserrat, sans-serif;
  color: #555;
}

img {
  width: 100%;
  height : auto;
}

h2 {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}

a {
  margin-bottom: 1rem;
  color: $color;
}

hr {
  border: 0;
  border-bottom: 3px solid #eee;
  width: 200px;
  margin: 0 auto;
}

.wrapper {
  max-width: 800px;
  margin: 4rem auto;
}

.description {
  text-align: center;
}